html, body{
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 50px;
    position: relative;
}

h1{
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
}

button{
    padding: 14px 30px;
}






































